<% if @team.errors.any? %>
  <% @form_errors = @team.errors.count %>
  <% @full_message_errors = @team.errors.full_messages %>
<%= render '/shared/errors' %>
<% end %>

<div class='page-header'>
  <h1> Create a team </h1>
</div>

<%= form_for(@team) do |f| %>

<%= f.label :teammember1 %>
<%= f.collection_select(:teammember1, Player.all, :name, :name) %>

<%= f.label :teammember2 %>
<%= f.collection_select(:teammember2, Player.all, :name, :name) %>

<%= f.label :team_players %>
<%= f.text_field :team_players %>

<%= f.submit "Create new team" %>

<% end %>
