<div class='page-header'>
  <h1> Edit Singles Game </h1>
</div>


<%= form_for(@single) do |f| %>

<%= f.label :playerA_id %>
<%= f.number_field :playerA_id %>

<%= f.label :playerB_id %>
<%= f.number_field :playerB_id %>

<%= f.label :winner_id %>
<%= f.number_field :winner_id %>

<%= f.label :loser_id %>
<%= f.number_field :loser_id %>

<%= f.label :winner_score %>
<%= f.number_field :winner_score %>

<%= f.label :loser_score %>
<%= f.number_field :loser_score %>

<%= f.submit "Update this singles game" %>

<% end %>
