function incrementValue()
{
  var value = parseInt(document.getElementById('number').value, 10);
  value = isNaN(value) ? 0 : value;
  value++;
  document.getElementById('number').value = value;

}

function incrementValueBig()
{
  var value = parseInt(document.getElementById('numberBig').value, 10);
  value = isNaN(value) ? 0 : value;
  value++;
  document.getElementById('numberBig').value = " " + value;
  if (document.getElementById('numberBig').value === (" " + 11)) {
    if (document.getElementById("lefty").innerHTML === "WESLEY") {
      $('#playerpic').attr( "src" , "<%= image_path "WesleyWin.jpg", :id => "playerpic" %>" );
      $('#playerpic2').attr( "src" , "<%= image_path "CaseyLose.jpg", :id => "playerpic2" %>" );

    }
    else if (document.getElementById("lefty").innerHTML === "CASEY") {
      $('#playerpic').attr( "src" , "<%= image_path "CaseyWin.jpg", :id => "playerpic" %>" );
      $('#playerpic2').attr( "src" , "<%= image_path "WesleyLose.jpg", :id => "playerpic2" %>" );

    }
    document.getElementById("lefty").innerHTML="VICTORY!!!";
    document.getElementById("righty").innerHTML="DEFEAT!!!";
}

}

function deincrementValue()
{
  var value = parseInt(document.getElementById('number').value, 10);
  value = isNaN(value) ? 0 : value;
  value--;
  document.getElementById('number').value = value;
  if (document.getElementById('colorthis').value > 4) {
    document.getElementById('colorthis').style.color = "red";
    document.getElementById('colorthis').style.background="yellow";
    document.getElementById("Daisy").style.visibility = "visible";
  }
  else
  {
    document.getElementById('colorthis').style.color = "black";
    document.getElementById('colorthis').style.background="white";
    document.getElementById("Daisy").style.visibility = "hidden";

  }
}





function incrementValue3()
{
  var value = parseInt(document.getElementById('colorthis').value, 10);
  value = isNaN(value) ? 0 : value;
  value++;
  document.getElementById('colorthis').value = value;
  if (document.getElementById('colorthis').value > 4) {
    document.getElementById('colorthis').style.color = "red";
    document.getElementById('colorthis').style.background="yellow";
    document.getElementById("Daisy").style.visibility = "visible";
  }
  else
  {
    document.getElementById('colorthis').style.color = "black";
    document.getElementById('colorthis').style.background="white";
    document.getElementById("Daisy").style.visibility = "hidden";
  }
}

function incrementValue3Big()
{
  var value = parseInt(document.getElementById('numberBig3').value, 10);
  value = isNaN(value) ? 0 : value;
  value++;
  document.getElementById('numberBig3').value = " " + value;
  if (document.getElementById('numberBig3').value === (" " + 11)) {
    if (document.getElementById("righty").innerHTML === "WESLEY") {
      $('#playerpic2').attr( "src" , "<%= image_path "WesleyWin.jpg", :id => "playerpic2" %>" );
      $('#playerpic').attr( "src" , "<%= image_path "CaseyLose.jpg", :id => "playerpic" %>" );

    }
    else if (document.getElementById("righty").innerHTML === "CASEY") {
      $('#playerpic2').attr( "src" , "<%= image_path "CaseyWin.jpg", :id => "playerpic2" %>" );
      $('#playerpic').attr( "src" , "<%= image_path "WesleyLose.jpg", :id => "playerpic" %>" );

    }
    document.getElementById("lefty").innerHTML="DEFEAT!!!";
    document.getElementById("righty").innerHTML="VICTORY!!!";
}
}




function deincrementValue3()
{
  var value = parseInt(document.getElementById('colorthis').value, 10);
  value = isNaN(value) ? 0 : value;
  value--;
  document.getElementById('colorthis').value = value;
  if (document.getElementById('colorthis').value > 4) {
    document.getElementById('colorthis').style.color = "red";
    document.getElementById('colorthis').style.background="yellow";
    document.getElementById("Daisy").style.visibility = "visible";
  }
  else
  {
    document.getElementById('colorthis').style.color = "black";
    document.getElementById('colorthis').style.background="white";
    document.getElementById("Daisy").style.visibility = "hidden";

  }
}





function changeImage() {
      if (document.getElementById('mySelect').value == "Bobby")
      {
      document.getElementById("playerpic").src = "http://static1.squarespace.com/static/53309fa5e4b074b4d261c908/t/543c7c56e4b0163ac9a493b9/1413250134393/Bobby.jpg?format=300w";
      }
      else if (document.getElementById('mySelect').value == "Shelby")
      {
          document.getElementById("playerpic").src = "http://static1.squarespace.com/static/53309fa5e4b074b4d261c908/t/548f8bdee4b05d9d70d184da/1418693598182/card_IMG_6008.JPG?format=300w";
      }
      else if (document.getElementById('mySelect').value == "Zach")
      {
          document.getElementById("playerpic").src = "http://static1.squarespace.com/static/53309fa5e4b074b4d261c908/t/54384c69e4b0d6cfdfcd1177/1412975721419/?format=300w";
      }
       else if
       (document.getElementById('mySelect').value == "Alexandra")
       {
           document.getElementById("playerpic").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/197/card_pic.JPG";
       }
       else if
       (document.getElementById('mySelect').value == "Andrew")
       {
           document.getElementById("playerpic").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/198/card_DSC_0013.JPG";
       }
       else if
       (document.getElementById('mySelect').value == "Caleb")
       {
           document.getElementById("playerpic").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/199/card_profile-pic.jpg";
       }
       else if
       (document.getElementById('mySelect').value == "Caleb")
       {
           document.getElementById("playerpic").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/199/card_profile-pic.jpg";
       }
       else if (document.getElementById('mySelect').value == "Cameron")
       {
           document.getElementById("playerpic").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/200/card_DSC_0021.JPG";
       }
       else if (document.getElementById('mySelect').value == "Wesley")
       {
         $('#playerpic').attr( "src" , "<%= image_path "WesleyMain.jpg", :id => "playerpic" %>" );
           document.getElementById("lefty").innerHTML="WESLEY";
       }
       else if (document.getElementById('mySelect').value == "Casey")
       {
         $('#playerpic').attr( "src" , "<%= image_path "CaseyMain.jpg", :id => "playerpic" %>" );
           document.getElementById("lefty").innerHTML="CASEY";
         }
       else if (document.getElementById('mySelect').value == "Jordan")
           {
             $('#playerpic').attr( "src" , "<%= image_path "JordanMain.jpg", :id => "playerpic" %>" );
               document.getElementById("lefty").innerHTML="JORDAN";
           }
       else if (document.getElementById('mySelect').value == "Jake")
           {
             $('#playerpic').attr( "src" , "<%= image_path "JakeMain.jpg", :id => "playerpic" %>" );
             document.getElementById("lefty").innerHTML="JAKE";
           }
       else
       {
           document.getElementById("playerpic").src = "http://media.tumblr.com/tumblr_lmp8n9pOPW1qfuepw.png";
       }
   }




   function changeImage2() {
         if (document.getElementById('mySelect2').value == "Bobby")
         {
         document.getElementById("playerpic2").src = "http://static1.squarespace.com/static/53309fa5e4b074b4d261c908/t/543c7c56e4b0163ac9a493b9/1413250134393/Bobby.jpg?format=300w";
         }
         else if (document.getElementById('mySelect2').value == "Shelby")
         {
             document.getElementById("playerpic2").src = "http://static1.squarespace.com/static/53309fa5e4b074b4d261c908/t/548f8bdee4b05d9d70d184da/1418693598182/card_IMG_6008.JPG?format=300w";
         }
         else if (document.getElementById('mySelect2').value == "Zach")
         {
             document.getElementById("playerpic2").src = "http://static1.squarespace.com/static/53309fa5e4b074b4d261c908/t/54384c69e4b0d6cfdfcd1177/1412975721419/?format=300w";
         }
          else if
          (document.getElementById('mySelect2').value == "Alexandra")
          {
              document.getElementById("playerpic2").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/197/card_pic.JPG";
          }
          else if
          (document.getElementById('mySelect2').value == "Andrew")
          {
              document.getElementById("playerpic2").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/198/card_DSC_0013.JPG";
          }
          else if
          (document.getElementById('mySelect2').value == "Caleb")
          {
              document.getElementById("playerpic2").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/199/card_profile-pic.jpg";
          }
          else if
          (document.getElementById('mySelect2').value == "Caleb")
          {
              document.getElementById("playerpic2").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/199/card_profile-pic.jpg";
          }
          else if (document.getElementById('mySelect2').value == "Cameron")
          {
              document.getElementById("playerpic2").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/200/card_DSC_0021.JPG";
          }
          else if (document.getElementById('mySelect2').value == "Wesley")
          {
            $('#playerpic2').attr( "src" , "<%= image_path "WesleyMain.jpg", :id => "playerpic2" %>" );
              document.getElementById("righty").innerHTML="WESLEY";
          }
          else if (document.getElementById('mySelect2').value == "Casey")
          {

            $('#playerpic2').attr( "src" , "<%= image_path "CaseyMain.jpg", :id => "playerpic2" %>" );
              document.getElementById("righty").innerHTML="CASEY";
          }
          else if (document.getElementById('mySelect2').value == "Jordan")
          {

            $('#playerpic2').attr( "src" , "<%= image_path "JordanMain.jpg", :id => "playerpic2" %>" );
              document.getElementById("righty").innerHTML="JORDAN";
          }
          else if (document.getElementById('mySelect2').value == "Jake")
          {

            $('#playerpic2').attr( "src" , "<%= image_path "JakeMain.jpg", :id => "playerpic2" %>" );
              document.getElementById("righty").innerHTML="JAKE";
          }
          else
          {
              document.getElementById("playerpic2").src = "http://media.tumblr.com/tumblr_lmp8n9pOPW1qfuepw.png";
          }
      }



      function changeImage3() {
            if (document.getElementById('mySelect3').value == "Bobby")
            {
            document.getElementById("playerpic3").src = "http://static1.squarespace.com/static/53309fa5e4b074b4d261c908/t/543c7c56e4b0163ac9a493b9/1413250134393/Bobby.jpg?format=300w";
            }
            else if (document.getElementById('mySelect3').value == "Shelby")
            {
                document.getElementById("playerpic3").src = "http://static1.squarespace.com/static/53309fa5e4b074b4d261c908/t/548f8bdee4b05d9d70d184da/1418693598182/card_IMG_6008.JPG?format=300w";
            }
            else if (document.getElementById('mySelect3').value == "Zach")
            {
                document.getElementById("playerpic3").src = "http://static1.squarespace.com/static/53309fa5e4b074b4d261c908/t/54384c69e4b0d6cfdfcd1177/1412975721419/?format=300w";
            }
             else if
             (document.getElementById('mySelect3').value == "Alexandra")
             {
                 document.getElementById("playerpic3").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/197/card_pic.JPG";
             }
             else if
             (document.getElementById('mySelect3').value == "Andrew")
             {
                 document.getElementById("playerpic3").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/198/card_DSC_0013.JPG";
             }
             else if
             (document.getElementById('mySelect3').value == "Caleb")
             {
                 document.getElementById("playerpic3").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/199/card_profile-pic.jpg";
             }
             else if
             (document.getElementById('mySelect3').value == "Caleb")
             {
                 document.getElementById("playerpic3").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/199/card_profile-pic.jpg";
             }
             else if (document.getElementById('mySelect3').value == "Cameron")
             {
                 document.getElementById("playerpic3").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/200/card_DSC_0021.JPG";
             }
             else
             {
                 document.getElementById("playerpic3").src = "http://media.tumblr.com/tumblr_lmp8n9pOPW1qfuepw.png";
             }
         }


         function changeImage4() {
               if (document.getElementById('mySelect4').value == "Bobby")
               {
               document.getElementById("playerpic4").src = "http://static1.squarespace.com/static/53309fa5e4b074b4d261c908/t/543c7c56e4b0163ac9a493b9/1413250134393/Bobby.jpg?format=300w";
               }
               else if (document.getElementById('mySelect4').value == "Shelby")
               {
                   document.getElementById("playerpic4").src = "http://static1.squarespace.com/static/53309fa5e4b074b4d261c908/t/548f8bdee4b05d9d70d184da/1418693598182/card_IMG_6008.JPG?format=300w";
               }
               else if (document.getElementById('mySelect4').value == "Zach")
               {
                   document.getElementById("playerpic4").src = "http://static1.squarespace.com/static/53309fa5e4b074b4d261c908/t/54384c69e4b0d6cfdfcd1177/1412975721419/?format=300w";
               }
                else if
                (document.getElementById('mySelect4').value == "Alexandra")
                {
                    document.getElementById("playerpic4").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/197/card_pic.JPG";
                }
                else if
                (document.getElementById('mySelect4').value == "Andrew")
                {
                    document.getElementById("playerpic4").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/198/card_DSC_0013.JPG";
                }
                else if
                (document.getElementById('mySelect4').value == "Caleb")
                {
                    document.getElementById("playerpic4").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/199/card_profile-pic.jpg";
                }
                else if
                (document.getElementById('mySelect4').value == "Caleb")
                {
                    document.getElementById("playerpic4").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/199/card_profile-pic.jpg";
                }
                else if (document.getElementById('mySelect4').value == "Cameron")
                {
                    document.getElementById("playerpic4").src = "https://students-gschool-production.s3.amazonaws.com/uploads/user/avatar/200/card_DSC_0021.JPG";
                }
                else
                {
                    document.getElementById("playerpic4").src = "http://media.tumblr.com/tumblr_lmp8n9pOPW1qfuepw.png";
                }
            }


            function yesnoCheck() {
            if (document.getElementById('yesCheck').checked) {
                document.getElementById('ifYes').style.display = 'block';
            }
            else document.getElementById('ifYes').style.display = 'none';

        }



// function goodbyepic()
// {
//   var value = parseInt(document.getElementById('number').value, 10);
//   value = isNaN(value) ? 0 : value;
//   value++;
//   document.getElementById('number').value = value;
//   if (document.getElementById('number').value > 4) {
//     document.getElementById("pongpic2").style.visibility = "visible";
//   }
//   else
//   {
//     document.getElementById('number').style.color = "black";
//     document.getElementById('number').style.background="white";
//     document.getElementById("pongpic2").style.visibility = "hidden";
//   }
// }


// $(".dropdown-menu li a").click(function(){
//   var selText = $(this).text();
//   $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
// });


// $( document.body ).on( 'click', '.dropdown-menu li', function( event ) {
//
//       var $target = $( event.currentTarget );
//
//       $target.closest( '.btn-group' )
//          .find( '[data-bind="label"]' ).text( $target.text() )
//             .end()
//          .children( '.dropdown-toggle' ).dropdown( 'toggle' );
//
//       return false;
//
//    });


$('.dropdown-toggle').dropdown()

   $('.dropdown-inverse li > a').click(function(e){
    $('.status').text(this.innerHTML);
});





// paintIt = (element, backgroundColor, textColor) ->
//   element.style.backgroundColor = backgroundColor
//   if textColor?
//     element.style.color = textColor
//
// $ ->
//   $("a[data-background-color]").click (e) ->
//     e.preventDefault()
//
//     backgroundColor = $(this).data("background-color")
//     textColor = $(this).data("text-color")
//     paintIt(this, backgroundColor, textColor)
