<!DOCTYPE html>
<html>
<head>
<script src="//js.pusher.com/2.2/pusher.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <title>Buttonclicker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% if @queue == [ "josh"] %>

<body onload="popup('NextiesDiv')">
  <% elsif @queue == [ "ted"] %>
  <body onload="popup('QueueDiv')">
  <% else %>
<body>
  <% end %>


  <div id="blanket" style="display:none"></div>


    <div id="NextiesDiv" style="display:none; text-align:center; position:absolute;">

        	<a href="#" onclick="popup('NextiesDiv')">Click to Close CSS Pop Up</a>
          <br>
          <br>
          <br>
          <% if @queue == [ ] %>
          NO GAMES
          <% else %>
          NEXT GAME:
          <% end %>
          <br>
          <br>

            Singles or doubles?
            <br>
            <label class="radio-block">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
              onclick="oneVone()"> &nbsp;&nbsp;<span style="font-size:20px">1v1</span>&nbsp;&nbsp;&nbsp;
            </label>
            <label class="radio-block">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
              onclick="twoVtwo()"> &nbsp;&nbsp;<span style="font-size:20px">2v2</span>
            </label>
            <br>
            <br>
        <div id="single" style="position:absolute; margin-left:25%">


          Select player 1:
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select player 2:
          <br>
          <br>

          <%= collection_select(:single, :playerA_name, Player.all, :name, :name, {},
      {:onchange => "queueSinglesPlayer()", :id => "selectSinglesPlayer1"}) %>

          <%= collection_select(:single, :playerB_name, Player.all, :name, :name, {},
      {:onchange => "queueSinglesPlayer2()", :id => "selectSinglesPlayer2"}) %>

<br>
<br>
      <span id="SinglesPlayer1NextyPopup">player 1</span>&nbsp;vs.
      <span id="SinglesPlayer2NextyPopup">player 2</span>

          </div>


          <div id="double" style="position:absolute">
            TEAM 1
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TEAM 2
            <br>
            Select team 1 player 1:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select team 2 player 1:
            <br>
            <br>
            <%= collection_select(:team, :teammember1, Player.all, :name, :name, {},
        {:onchange => "queueDoublesPlayer1A()", :id => "selectDoublesPlayer1A"}) %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <%= collection_select(:team, :teammember2, Player.all, :name, :name, {},
        {:onchange => "queueDoublesPlayer1B()", :id => "selectDoublesPlayer1B"}) %>

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <br>
              <br>

              Select team 1 player 2:
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select team 2 player 2:

              <br>
              <br>

              <%= collection_select(:team, :teammember1, Player.all, :name, :name, {},
          {:onchange => "queueDoublesPlayer2A()", :id => "selectDoublesPlayer2A"}) %>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


            <%= collection_select(:team, :teammember2, Player.all, :name, :name, {},
          {:onchange => "queueDoublesPlayer2B()", :id => "selectDoublesPlayer2B"}) %>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                <br>
                <br>
                  <span id="DoublesPlayer1ANextyPopup">player 1</span>&nbsp;vs.
                  <span id="DoublesPlayer1BNextyPopup">player 2</span>
                  <br>
                  <br>
                  <span id="DoublesPlayer2ANextyPopup">player 3</span>&nbsp;vs.
                  <span id="DoublesPlayer2BNextyPopup">player 4</span>

            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          <br>
          <br>
          <span id="nextiesQueue">hi</span>
          <br>
          <br>
          <button id="queueNexties" onclick="queueNexties()">
            Put nexties in queue
          </button>
        <br>
        <br>
        <button id="setNexties" onclick="setNexties()">
          Set nexties
        </button>


            <br>
            <br>
            <%= link_to "Claim nexty!", nexties_path %>

    	</div>
      <div>


        <div id="blanket" style="display:none"></div>

  <div id="QueueDiv" style="display:none; text-align:center; position:absolute;">

        <a href="#" onclick="popup('QueueDiv')">Click to Close CSS Pop Up</a>
  </div>
</div>







<%= yield %>

<p>&nbsp;&nbsp;<%= link_to "Players", players_path %>&nbsp;|&nbsp;
<%= link_to "Teams", teams_path %>&nbsp;|&nbsp;
<%= link_to "Singles", singles_path %>&nbsp;|&nbsp;
<%= link_to "Doubles", doubles_path %>&nbsp;|&nbsp;
<%= link_to "Singlesstats", singlesstats_path %>&nbsp;|&nbsp;
<%= link_to "Doublesstats", doublesstats_path %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<%= link_to "Create a Player", new_player_path %>&nbsp;|&nbsp;
<%= link_to "Create a Team", new_team_path %>&nbsp;|&nbsp;
<%= link_to "New Singles Game", new_single_path %>&nbsp;|&nbsp;
<%= link_to "New Doubles Game", new_double_path %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<%= link_to "Main", test_path %></p>
<br>

</body>
</html>
